.btn-wrap{


.c-btn {
   font-size: 16px;
   font-weight: 600;
    background-color: $lightyellow;
    padding: 10px 0;

  text-decoration: none;
    span {
  
     padding: 0 15px;
  
    }
    i {
   
     padding: 10px;
      background-color: $yellow;
    }
    &:hover{
      background-color: white;
      span{
        background-color: white;
        color: $yellow;
      }
      i{
        background-color: white;
        color: $yellow;
      }
     }
  }
}
  .c-disbtn{
    margin-top: 30px;
    
    a{
      text-decoration: none;
        background-color: transparent;
        border: 1px solid $white;
    }
    i{
        background-color: transparent;
    }
  }

  .c-journalsbtn{
    margin-top: 60px;
    a{
        color: #000;
    }
  }