.c-discover{
    text-align: center;
    margin-top: 120px;
    h2{
        @include playfairDisplay();
        color: $white;
        margin-bottom: 30px;
    }
    p{
        @include muli();
        color: $white;
        
    }
}
.c-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 60px;
    
    &__img {
        width: 340px;
        height: 499px;
        position: relative;
        img{
            width: 340px;
            height: 500px;
        }
    }
    &__txt{
        position: absolute;
        bottom: -100px;
        color: $white;
        padding: 20px;
        h2{
            @include playfairDisplay(700,34px);
            color: $lightyellow;
            margin-bottom: 12px;
        }
        p{
            @include muli(300, 16px);
            letter-spacing: 0.5px;
        }
        a{
            text-decoration: none;
            color: $white;
        }
    }
    

    
}

.img2{
    margin-top: 60px;
}


