.discover {
    margin-top: 100px;
}

.c-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 60px;

    &__img {
        position: relative;

    }

    &__txt {
        position: absolute;
        bottom: -100px;
        color: $white;
        padding: 20px;

        h2 {
            @include playfairDisplay(700, 34px);
            color: $lightyellow;
            // margin-bottom: 12px;
            line-height: 44px;
        }

        p {
            @include muli(300, 16px);
            letter-spacing: 0.5px;
            line-height: 24px;
        }

        a {
            text-decoration: none;
            color: $white;
        }
    }



}

.img2 {
    margin-top: 60px;
}