.c-discover{
    text-align: center;
    h2{
        @include playfairDisplay();
        color: $white;
        margin-bottom: 30px;
    }
    p{
        @include muli();
        color: $white;
        
    }
}
.c-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 60px;
    
    &__img {
        width: 340px;
        height: 499px;
        position: relative;
    }
    &__txt{
        position: absolute;
        bottom: -100px;
        color: $white;
        padding: 20px;
        h2{
            @include playfairDisplay(700,34px);
            color: $lightyellow;
            margin-bottom: 12px;
        }
        p{
            @include muli(300, 16px);
            letter-spacing: 0.5px;
        }
        a{
            text-decoration: none;
            color: $white;
        }
    }
    

    
}
.img1 {
    background:linear-gradient(180deg ,rgba(255, 255, 255,0.1),rgba(0, 0, 0,0.9)),url(../img/discover1.png);
}
.img2{
    background:linear-gradient(180deg ,rgba(255, 255, 255,0.1),rgba(0, 0, 0,0.9)),url(../img/discover2.png);
    margin-top: 60px;
}
.img3{
    background:linear-gradient(180deg ,rgba(255, 255, 255,0.1),rgba(0, 0, 0,0.9)),url(../img/discover3.png);
}