.l-footer {
   
   
    background:$bg-color;
        &__list {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
            // padding-top:20px;
            margin-top:113px;
           
                h4 {
                    @include Poppinsfontfamily();
                    color:#fff;
                    text-align: center;
                    margin-bottom: 32px;
                    a {
                        text-decoration: none;
                    }
                }
                p {
                    @include muli (300,14px);//to chane muli 
                    color:#fff;
                    padding-bottom: 44px;
                    line-height: 24px;
                  }
            }
        &__icon {
                ul {
                    display: flex;
                    gap:44px;
                    list-style: none;
                    justify-content: center;
                    padding-bottom: 40px;
                   
                    li {
                        a {
                            color:white;
                        }
                    }
                }
            }
            &__menu {
                // margin-top:44px;
                ul {
                    display:flex;
                    list-style: none;
                    justify-content: center;
                   li {
                     margin: 0 10px;
                        a {
                           padding: 10px 15px;
                            @include muli(400,18px);//to change muli
                            text-decoration: none;
                            color:#fff;
                        }
                    }
                }
            }
            &__footer {
                @include Nunitofontfamily();
                text-align: center;
                color:#fff;
                
                padding: 40px;
            }
            .line {
                width: 80%;
                height: 1px;
                background:#d8d8d8;
                opacity: 0.3;
                margin: 0 auto;
            }
   }
   
