.l-wrap-inner {
    max-width: 100%;
    margin: 0 auto;
    background:#000 ;
    // background:#000;
    
}
.l-footer {
    // width:100%;
   
    background:#000;
        &__list {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
            padding-top:20px;
            background: #000;
           
                h4 {
                    @include Poppinsfontfamily();
                    color:#fff;
                    background-color: #000;
                    text-align: center;
                    margin-top:113px;
                    margin-bottom: 32px;
                }
                p {
                    @include muli (300,14px);//to chane muli 
                    color:#fff;
                    margin-top: 40px;
                }
            }
        &__icon {
                ul {
                    display: flex;
                    gap:44px;
                    list-style: none;
                    justify-content: center;
                   
                    li {
                        a {
                            color:white;
                        }
                    }
                }
            }
            &__menu {
                margin-top:44px;
                ul {
                    display:flex;
                    gap:30px;
                    list-style: none;
                    justify-content: center;
                    
                   
                    li {
                        a {
                            @include muli(400,18);//to change muli
                            text-decoration: none;
                            color:#fff;
                        }
                    }
                }
            }
            &__footer {
                @include Nunitofontfamily();
                text-align: center;
                color:#fff;
                margin-top: 150px;
                padding-bottom: 29px;;
            }

   }
   
