body{
    background-color: $bg-color;
}
.l-wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.l-wrap-inner {
    max-width: 100%;
    margin: 0 auto;
    background:$bg-color;
    margin-bottom: 150px;

    // background:#000;
    
}