.about-wrapper {
  background-color: $bg-color;
  width: 100%;

  .about {
    position: relative;
    width: 100%;
    display: flex;
    @include for-phone {
      flex-direction: column;
    }
    @include for-tablet {
      flex-direction: column;
    }
    justify-content: center;
    align-items: center;
    @include for-phone {
    }
    @include for-tablet {
    }

    &-text {
      padding:  110px 142px;
      

      @include for-phone {

        text-align: center;
        width: 100%;
        padding: 30px 0;
      }
      @include for-tablet {
        text-align: center;
        width: 100%;
        padding: 30px 0;
      }

      width: 50%;
      &__title {
        @include playfairDisplay(400,42px);
        padding-bottom: 30px;
     
      }
      &__desc {
      
        padding-bottom: 262px;
        line-height: 30px;
        @include playfairDisplay(300,16px);
        @include for-phone {
          padding: 40px 40px 60px 40px;
        }
      }
      .about-text-ul {
        z-index: 6;
        margin-top: -168px;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2b313c;
        width: 840px;
        text-align: center;
        line-height: 20px;
        padding: 27px 0;

        @include for-phone {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          background-color: grey;
          width: 90%;
          text-align: center;
          line-height: 20px;
          padding: 5px;
          margin: 20px auto;
        }

        @include for-tablet {
          width: 600px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px auto;
        }
        &-midline {
          height: 30px;
          width: 1px;
          background-color: rgb(182, 182, 182);
        }

        &__list {
          padding: 10px;

          &__count {
            padding: 10px 10px;
            font-size: 42px;
            font-weight: 400;
            @include playfairDisplay(400,42px);
            span{
            font-size: 35px;
            text-align: center
            }
          }
          &__title {
            @include muli(400,18px);
            padding: 10px 10px;
          }
        }
      }
    }
    .about-image {
      z-index: 2;
      background-image: url("../img/about.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      height: 783px;
      @include for-phone {
        width: 90%;
        height: 500px;
        margin: 30px 0;
      }
    }
  }
}
.about-btn{
margin-top: 20px;

    .c-btn{
      color:#0a0d13;
      @include muli(300,16px);
    }
}