.p-latest{
    margin-top: 200px;
    color: $white;
}
.p-blogs{
    display: flex;
    margin-top: 60px;

   &__img{
    background-repeat: no-repeat;
    position: relative;
    width: 25%;
    img{
        width: 100%;
        height: auto;
    }
    
   }
   &__cards{
    position: absolute;
    bottom: 30px;
    p{
        @include muli (400, 18px);
        padding: 0 20px;
        letter-spacing: 0.1px;
        line-height: 25px;
    }
   }
   
}


// .card1{
//     background-image: url(../img/latest_blog1.png);
// }
// .card2{
//     background-image: url(../img/latest_blog2.png);
// }
// .card3{
//     background-image: url(../img/latest_blog3.png);
// }
// .card4{
//     background-image: url(../img/latest_blog4.png);
// }