.p-journals{
    color: $white;
    margin-top: 150px;
    &__wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

&__cardswrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}


&__fb{
    background-color: $fbcolor;
    width: 340px;
    margin-top: -3px;
    
    
}
&__name{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    span{
        padding-left: 10px;
        @include muli (400,14px);
        line-height: 24px;
    }
}
p{
    @include muli(400, 18px);
    line-height: 28px;
}

&__date{
    @include muli(400, 14px);
    line-height: 24px;
    color: $datecolor;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    img{
        padding-left: 177px;
    }
}
}
.fbwrap{
    padding: 30px;
}