.mainvisual {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(39, 39, 39,0.1),rgba(20, 20, 20,0.9)),url("../img/logo3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px 0;
    .mainvisual-inner {
     padding: 140px ;
     @include for-phone{
        padding:  40px;
     }
      &__text {
        
        &__title {
        line-height: 74px;
          @include playfairDisplay(700,64px);
          @include for-phone{
            font-size: 44px;
            font-weight: 500;
          }
        }
        &__desc {
          
          @include muli(300,18px);
          padding: 20px 0;
          &::before {
            padding: 0 10px;
            content: "\2014""\2014";
          }
        }
      }
      
     
    }
  }
  
  .mainvisual-inner--btn{
    margin-top: 60px;
    .c-btn{
      color:#0a0d13;
      @include muli(300,16px);
    }
  }
  