.mainvisual {
    width: 100%;
    height: 100vh;
    background: url("../img/logo3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    .mainvisual-inner {
     padding-left: 140px;
     @include for-phone{
        padding:  40px;
     }
      &__text {
        
        &__title {
        
          @include playfairDisplay(700,64px);
          @include for-phone{
            font-size: 44px;
            font-weight: 500;
          }
        }
        &__desc {
        
          @include muli(300,18px);
          padding: 20px 0;
          &::before {
            padding: 0 10px;
            content: "\2014""\2014";
          }
        }
      }
    }
  }
  .mainvisual-btn{
  color: #000000;
    }
  
  