.p-travelreseach {
    display:flex;
    padding-top:200px;
   
    background:linear-gradient(180deg ,rgba(13, 16, 24), rgba(13, 16, 24,0.3) ,rgba(255, 255, 255,0.1)) $bg-color;
    align-items: center;
    margin:0 auto;
    justify-content: center;
    width: 100%;
    padding-bottom: 200px;
    
    &__contact {
        margin-right: 135px;
        h4 {
            @include playfairDisplay(700,34px);
            color:#fff;
            line-height: 44px;
            margin-bottom: 32px;
            

        }
        p {
            @include muli(400,18px);
            color: #fff;
            
        }
    }
    .p-phonecall {
        display: flex;
        justify-content: center;
        text-align: center;
        gap:114px;
         &__inner {
            width: 177px;  
            border-radius: 50%;
            border:1px solid  #fff;
            padding: 27px;
           
           
            .img-box {
                margin-bottom: 19px;
                a {
                     color:#fff;
                     font-size:30px;
                     
                }
               
            }
            .txt-box {
                h4 {
                    @include playfairDisplay(700,34px);
                    color: #fff;
                    text-align: center;
                    margin-bottom: 17px;
                    
                }
                span {
                    @include  muli(300,24px);
                    color: #fff;
                    text-align: center;
                    line-height: 34px;
                }
                p {
                    @include muli(400,16px);
                    color: #fff;
                    text-align: center;
                    line-height: 23px;
                }
            }
        }
    }
}
