@mixin playfairDisplay($weight:700, $size:42px){
    font-family: "playfairDisplay", serif;
    font-weight: $weight;
    font-size: $size;
}

@mixin muli($weight:300, $size:16px){
    font-family: "Muli", sans-serif;
    font-weight: $weight;
    font-size: $size;
}

@mixin Poppinsfontfamily($weight:700,$size:22px){
    font-family: 'poppins',sans-serif;
    font-weight: $weight;
    font-size: $size;
}

@mixin Nunitofontfamily($weight:400,$size:14px){
    font-family: 'nunito',sans-serif;
    font-weight: $weight;
    font-size: $size;
}
h1,h2,h3,h4,p,a{
    color: white;
}

@mixin avatar($size, $circle: false) {
    width: $size;
    height: $size;
  
    @if $circle {
      border-radius: math.div($size, 2);
    }
  }